.heroContainer {
  max-width: 1240px;
  margin   : 0 auto;

  .heroContent {

    .heroDisplay {
      background-image : url('http://i.annihil.us/u/prod/marvel/i/mg/c/e0/535fecbbb9784.jpg');
      background-repeat: none;
      background-size  : cover;

      background-position: center;
      position           : absolute;

      height  : 40rem;
      position: relative;

      .title {
        padding: 0 2rem;
        width  : 100%;

        position: absolute;
        bottom  : 0;

        background-color: var(--blue-900);
        color           : var(--white-100);
        font-size       : 4rem;

        transform: translateY(50%)
      }
    }

    .heroDetails {
      margin-top: 3rem;
      padding   : 1rem 2rem;

      p {
        color    : var(--gray-600);
        font-size: 1.8rem;
        padding  : 0 2rem 2rem;
      }

      .sectionContent {
        border       : 1px solid var(--gray-300);
        border-radius: 1rem;
        padding      : 2rem;


        .titleSection {
          color: var(--red-900);
        }

        li {
          list-style: none;
          color     : var(--blue-900);
        }

        &+div {
          margin-top: 1rem;
        }
      }

    }
  }
}