.buttonContainer {
  border: none;

  border-radius: 0.5rem;
  padding      : 1rem 2rem;

  display        : flex;
  justify-content: center;
  align-items    : center;

  transition: all 0.3s;

  margin: 2rem auto;

  &:hover {
    filter: brightness(0.85)
  }
}