:root {
  --red-900   : #700611;
  --blue-900  : #111825;
  --gray-300  : #CCCCCC;
  --gray-600  : #818181;
  --white-100 : #FFFFFF;
  --black-900 : #000000;
  --yellow-900: #EBA417;

  --shadow: rgba(0, 0, 0, 0.7);
}

* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

/********************
 * Reduzindo o tamanho da fonte padrão para desktop de 16px para 10px
 *******************/
html {
  font-size: 62.5%;
}

/********************
 * Reduzindo o tamanho da fonte padrão para tablet de 16px para  9px
 *******************/
@media (max-width: 1080px) {
  html {
    font-size: 56.25%;
  }
}

/********************
 * Reduzindo o tamanho da fonte padrão para mobile de 16px para  8px
 *******************/
@media (max-width: 720px) {
  html {
    font-size: 50%;
  }
}

/********************
 * Como a fonte padrão está em 10px, quando definimos em 1.6rem a fonte para desktop passa a ser 16px
 * facilitando assim a definição dos tamanhos de fonte, espaçamentos, trazendo maior flexibilidade a tela
 *******************/
body,
input,
textarea,
select,
button {
  font: 400 1.6rem 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor : not-allowed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  color          : inherit;
  text-decoration: none;
}