.cardContent {
  border: 0.1rem solid var(--gray-100);
  height: 400px;

  border-radius: 0.5rem;
  overflow     : hidden;
  position     : relative;
  cursor       : pointer;

  transition: all 1s;

  .backdrop {
    background-repeat: none;
    background-size  : cover;

    background-position: center;
    position           : absolute;
    top                : 0;
    left               : 0;
    right              : 0;
    bottom             : 0;
    z-index            : -1;

    filter: grayscale(75%);
  }

  &:hover {
    box-shadow: 0 0 2rem var(--shadow);

    .backdrop {
      filter: grayscale(0);
    }
  }

  .titleCard {
    background-color: var(--blue-900);
    position        : absolute;
    bottom          : 0;
    padding         : 2rem 1.5rem;

    width: 100%;

    font-size: 1.8rem;
    color    : var(--white-100)
  }
}