.homeContainer {
  max-width: 1240px;
  margin   : 0 auto;

  padding   : 2rem;
  min-height: calc(100vh - 15rem);

  display       : flex;
  flex-direction: column;

  .cardsContainer {
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    list-style           : none;

    gap: 2rem;

    position: relative;

    li {
      position: relative;
    }

    .starCard {
      position: absolute;
      right   : 1.5rem;
      top     : 1.5rem;

      font-size: 3rem;
      color    : rgba(204, 204, 204, 0.6);

      z-index   : 900;
      cursor    : pointer;
      transition: all 0.3s;

      &:hover {
        color: var(--yellow-900);
      }
    }
  }
}

@media (max-width: 560px) {
  .homeContainer {
    form {
      display: block;

      button {
        width : 100%;
        margin: 1rem 0;
      }
    }
  }
}