.headerContainer {
  height    : 24rem;
  background: var(--blue-900);

  display        : flex;
  justify-content: center;
  align-items    : center;

  padding: 5rem 2rem;

  .headerContent {
    display        : flex;
    justify-content: center;
  }
}